:root {
  --bg-color: #141C2F;
  --box-color: #1F2A48;
  --blue-color: #0079FC;
  --default-color: #fff;
  transition: all .3s ;
}

body {
  background-color: var(--bg-color);
  height: 100vh;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--default-color);
}

.App {
  width: 100%;
}

.row {
  width: 60%;
  max-width: 114rem;
  margin: 0 auto;
}

.icon {
  color: inherit;
  font-size: 2rem;
}

.icon-blue {
  color: var(--blue-color);
}

@media only screen and (max-width: 52.8125em) {
  body {
    height: 100%;
  }
  #root {
    display: block;
    padding: 3.2rem 0;
  }
  .row {
    width: 90%;
  }
}

